{% load static %}
<!--begin::Global Stylesheets Bundle(mandatory for all pages)-->
<link href="{% static 'assets/plugins/global/plugins.bundle.css' %}"
      rel="stylesheet"
      type="text/css" />
<link href="{% static 'assets/css/style.bundle.css' %}"
      rel="stylesheet"
      type="text/css" />
<!--end::Global Stylesheets Bundle-->
<script>
  // Frame-busting to prevent click-jacking
  if (window.top != window.self) {
    window.top.location.replace(window.self.location.href);
  }
</script>
